body {
    column-count: 2;
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
    background-color: #f5e9dc;
}

  h1
  h2 
  strong {
    color: #333;
    
 }

 h1 
 h2 {
    margin-top: 1em;
    padding-top: 1em;
 }
 a {
    color: #e81c4f;
    text-decoration: underline;
  }
img {
    max-width: 60%;
    padding: 10px;
    border-radius: 2%;
}
ul {
    list-style-type: square;
}
s {
    color: #624f78; 
   <!-- old color: #fcba03;-->
}
.side-section {
  
  color: #36c221;
}




  /* Tennis ball color #C9F364 */